/.idea
/.vscode
/decomp.SED
/game
/lib
/renpy
/__pycache__
/decompiler/__pycache__
unrpyc.pyo
decompiler/__init__.pyo
decompiler/astdump.pyo
decompiler/codegen.pyo
decompiler/magic.pyo
decompiler/screendecompiler.pyo
decompiler/sl2decompiler.pyo
decompiler/testcasedecompiler.pyo
decompiler/translate.pyo
decompiler/util.pyo
deobfuscate.pyo
*.bak
UnRen-Powershellhack.ps1
UnRen-ultrahack.bat